@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(
    -45deg,
    #172347,
    #025385,
    #0ef3c5,
    #04e2b7,
    #038298,
    #015268
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2042508-jpeg.jpg"); */
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background-size: cover; */
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Pretty Stuff */
.contact-form-container {
  background: #f4f3f3;
  font-family: "Lato", sans-serif;
}

.contact-us {
  position: relative;
  /* width: 250px; */
  /* background: #c3e0ec; */
  background: #25d6b3;
  overflow: hidden;
}
.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  /* background: #f8b7d8; */
  background: #172347;
  transform: rotate(25deg);
}
.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  /* background: #9ed8eb; */
  background: #015268;
  transform: rotate(-25deg);
}

/* .contact-header {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 120px;
  left: -40px;
}
.contact-header h1 {
  font-size: 1.5rem;
} */

.social-bar {
  position: absolute;
  bottom: 20px;
  left: 35px;
  z-index: 1;
  width: 100px;
}
.social-bar ul {
  list-style-type: none;
}
.social-bar ul li {
  margin: 0 7px;
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: -4px;
  font-size: 1.2rem;
}

.social-bar ul li a {
  color: white;
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 10px 0;
  color: #444;
}
.header h1 {
  font-weight: normal;
}
.header h2 {
  margin-top: 10px;
  font-weight: 300;
  padding: 0 8px;
}

.address,
.email {
  text-align: center;
  padding: 20px 0;
  color: #444;
}
.address h3,
.email h3 {
  font-size: 1rem;
  font-weight: 500;
}
.address i,
.email i {
  color: #f8b7d8;
  font-size: 1.7rem;
  /* margin-bottom: 20px; */
}

form {
  position: relative;
  width: 440px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: white;
}
form input,
form textarea {
  background: white;
  display: block;
  /* margin: 20px auto; */
  width: 100%;
  border: 0;
}
form input,
form textarea {
  /* height: 50px; */
  line-height: 40px;
  outline: 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.8);
}
form textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  color: rgba(68, 68, 68, 0.8);
}
form button {
  position: absolute;
  display: block;
  height: 40px;
  width: 250px;
  left: 95px;
  border: 0;
  border-radius: 20px;
  bottom: -47px;
  background: #31b5e1;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}

.contact-form {
  padding-bottom: 55px;
}

/* Layout Stuff */

.contact-form-container {
  width: 800px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
}

.contact-us {
  grid-area: contact-us;
}

.header {
  grid-area: header;
}

.address {
  grid-area: address;
}

.email {
  grid-area: email;
}

.contact-form {
  grid-area: contact-form;
}

/* 

mobile screens viewport

*/
@media only screen and (max-width: 560px) {
  .contact-form-container {
    width: 350px;
    height: 560px;
    grid-template-columns: 0fr 1fr 0fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 2fr;
  }

  form {
    width: 320px;
  }

  form button {
    bottom: -65px;
    left: 35px;
  }

  .social-bar-mobile {
    margin-top: 1rem;
  }

  .social-bar-mobile ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2.2rem;
  }

  .social-bar-mobile ul li {
    list-style: none;
    color: white;
  }
}

@media only screen and (min-width: 561px) {
  .social-bar-mobile {
    display: none;
  }
}
