@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#592ca7;
    overflow-x: hidden;
}

h1{
  font-weight:800;
  font-size:3rem;
  color: #673AB7;
}


p{
    font-weight:700;
    font-size: 1rem;
    font-style: italic;
}

.warning-content {
    position:absolute;
    top:15%;
    width:100%;
    height:300px;
    text-align:center;
    margin:0;
}

.gear_container{
    margin: 3rem 0; 
}

.svg2{
    display: none;
}

@media only screen and (max-width: 480px) {
    .gear_container{
        margin: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    .svg1{
        display: none;
    }
    .svg2{
        display:inline;
    }
}
