@font-face {
    font-family: Clash Display;
    src: url(../../font/clash);
}

.SkipLinkText {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: -1px;
  overflow: hidden;
}

.SkipLinkText:focus {
  color: #2C3531;
  background-color: #D1E8E2;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

*{
  font-family: Clash Display, sans-serif;
}
.container {
    position: relative;
    display: block;
    width: 280px;
    margin: 0 auto;
  }
  @media only screen and (min-width: 40.063em) {
    .container {
        width: 720px;
   }
  }
  @media only screen and (min-width: 64.063em) {
    .container {
        width: 960px;
   }
  }
  .container header {
    opacity: 0;
    position: relative;
    z-index: 1;
  }
  .container header #tabzilla {
    float: none;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .container header #tabzilla a {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/580123/tabzilla-static-high-res.png");
    -webkit-background-size: 147px 37px;
    background-size: 147px 37px;
    position: relative;
    display: block;
    width: 147px;
    height: 37px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .container header h2 {
    padding: 30px 0 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: #fff;
    z-index: 1;
    text-align: center;
    margin-top: 1%;
  }

  
  .main-content .ffLogoSmall {
    visibility: hidden;
    position: absolute;
  }
  .main-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: -0.035em;
    font-family: Clash Grotesk, sans-serif;
    letter-spacing: 0.1vh;
    
  }

  .theme{
    font-family: Clash Display, sans-serif;
    font-size: 2.5rem;
  }

  .main-content .button {
    position: relative;
    line-height: 1.5;
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    border: 2px solid #4aa84a;
    padding: 10px 36px;
    border-radius: 4px;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    text-shadow: none;
    margin-bottom: 20px;
    font-family: 'Clash Display', sans-serif;
    font-weight: normal;
  }
  .main-content .button:hover {
    background-color: #66bb6a;
  }
  .main-content strong {
    font-weight: normal;
  }

  .small {
    display: block;
    font-size: 2rem;
    text-align: center;
    text-shadow: none;
    line-height: 1.3;
    font-weight: bold;
    font-family: Clash Display, sans-serif;
    font-weight: normal;
    margin-top: -10px;
  }
  .main-content small {
    display: block;
    font-size: 1rem;
    text-align: center;
    text-shadow: none;
    line-height: 1.3;
    font-weight: bold;
    font-family: Clash Display, sans-serif;
    font-weight: normal;
    margin-top: -10px;
  }
  .scene {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 120%;
  }
  .scene .layer {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .scene .layer .fullArtwork {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    opacity: 0;
    min-height: 450px;
  }
  .controls {
    z-index: 9999;
  }
  @media only screen and (max-width: 760px) {
    .container {
        max-width: 440px;
   }
    .main-content {
        min-width: 220px;
   }
    .ffLogoBig {
        visibility: hidden;
   }
    .main-content h1 {
        font-size: 2.25rem;
   }
    .main-content .ffLogoSmall {
        visibility: visible;
        top: -105px;
        left: 60px;
   }
  }
  .info p {
    line-height: 1.5;
    color: #333;
  }
  .info strong {
    color: #555;
  }
  .info a {
    font-weight: bold;
  }