@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
.SkipLinkText {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: -1px;
  overflow: hidden;
}

.SkipLinkText:focus {
  color: #2C3531;
  background-color: #D1E8E2;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Barlow", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  
 ===============   
 Slider Styles  
 ===============  
 */
section {
  /* width: 100vw; */
  width: 90vw;
  max-width: 620px;
  margin: 0 auto;
  /* margin-top: 5rem; */
  text-align: center;
  padding: 1rem 0;
  /* set relative for buttons */
  position: relative;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.reviews3,
.reviews2,
.reviews1 {
  margin-bottom: 3rem;
}
.reviews3 h2,
.reviews2 h2,
.reviews1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews3 span,
.reviews2 span,
.reviews1 span {
  font-size: 0.85em;
  color: hsl(205, 78%, 60%);
  margin-right: 1rem;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid hsl(211, 27%, 70%);
  background: #fff;
  padding: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: hsl(205, 78%, 60%);
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
}
.title {
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.text {
  color: hsl(210, 22%, 49%);
  line-height: 1.8;
  max-width: 35em;
  margin: 0 auto;
  letter-spacing: 1px;
}
/* .icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
} */
/* set buttons */
.btn3,
.btn2,
.btn1 {
  position: absolute;
  top: 11rem;
  background: hsl(210, 22%, 49%);
  color: #fff;
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
}
.next-btn3,
.next-btn2,
.next-btn1 {
  right: -0.5rem;
}
.prev-btn3,
.prev-btn2,
.prev-btn1 {
  left: -0.5rem;
}
@media screen and (min-width: 768px) {
  .next-btn3,
  .next-btn2,
  .next-btn1 {
    right: -5rem;
  }
  .prev-btn3,
  .prev-btn2,
  .prev-btn1 {
    left: -5rem;
  }
  .btn3,
  .btn2,
  .btn1 {
    font-size: 1.3rem;
    padding: 0.35rem 0.5rem;
  }
}
/* MORE CSS FOR JS */
.slide-container3,
.slide-container2,
.slide-container1 {
  display: flex;
  justify-content: center;
  position: relative;
  height: 450px;
  overflow: hidden;
}
.slide3,
.slide2,
.slide1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.slide3.active3,
.slide2.active2,
.slide1.active1 {
  opacity: 1;
  transform: translateX(0);
}
.slide3.next3,
.slide2.next2,
.slide1.next1 {
  transform: translateX(100%);
}
.slide3.last3,
.slide2.last2,
.slide1.last1 {
  transform: translateX(-100%);
}

/* =========================================================== */
/* =========================================================== */
/* =========================================================== */

@media only screen and (min-width: 880px) {
  .slide,
  .slide_hero {
    display: flex;
    margin: auto;
    align-items: center;
    left: -5.5rem;
  }
  .slide_hero {
    position: relative;
    left: -4rem;
    width: 70vw;
    margin: 2rem auto;
  }
  .slide_title,
  .slide_title_hero {
    font-size: 2.25rem;
    font-weight: 500;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    position: relative;
    bottom: 2rem;
    left: 7.5rem;
    background-color: #fff;
    padding: 1.5rem;
    z-index: 2;

    text-decoration: underline;
    text-decoration-color: #e83f43;
  }
  .slide_title_hero {
    font-size: 3.25rem;
    left: 5rem;
  }
  .slide_image_container {
    position: relative;
    height: 60vh;
    width: 30rem;
  }
  .slide_image_container_hero {
    height: 60vh;
    width: 100%;
  }
  .slide_description,
  .slide_description_hero {
    font-size: 0.9rem;
    margin: 1rem 0;
    text-align: start;
  }
}

/* phone screens and tablet screens */
@media only screen and (max-width: 879px) {
  section {
    height: 30rem;
  }
  .slide-container,
  .slide-container2,
  .slide-container1 {
    height: 500px;
    overflow: hidden;
  }
  .slide_image_container,
  .slide_image_container_hero {
    width: 100%;
    height: 43vh;
    object-fit: cover;
  }
  .slide,
  .slide_hero {
    width: 100%;
    padding: 0 1rem;
  }
  .slide_title,
  .slide_title_hero {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.7rem;

    text-decoration: underline;
    text-decoration-color: #e83f43;
  }

  .slide_title_hero {
    text-align: center;
  }

  .slide_description,
  .slide_description_hero {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .next-btn,
  .next-btn2,
  .next-btn1 {
    right: 0.5rem;
  }
  .prev-btn,
  .prev-btn2,
  .prev-btn1 {
    left: 0.5rem;
  }
}
